body {
background-color: #03011f;
font-family: "Source Sans Pro";
color: #6cacc5;
}
.text-1{

color: #F70D1A;
position: absolute; right:670px; top:60px;
font-size: 80px;
font-family: "Source Sans Pro";

}
.Nandivarman{
  padding-top: 120px;
  font-size: 20px;
}
.image-1{
  padding-top: 20px;
}
